/* Form.module.css */

.container {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../utils/perrito.jpg");
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.container_form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  text-align: center;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.input_num {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input_num::placeholder {
  font-size: 12px;
}

.input_num:focus {
  border-color: #85c9d8;
}

.select:focus {
  border-color: #85c9d8;
}

.create_btn {
  margin-top: 20px;
  background-color: #f4c14d;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkboxcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

input[type="checkbox"] {
  margin: 0;
}
