.input{
    position: relative;
    padding: 17px 15px ;
	font-size: 15px;
    border: groove #5D675B;
    outline: none;
    /* margin: 30px; */
    border-radius: 13px;
}

.input:hover{
    width: 250px;
}

.button{
    color: #fffffb;
    background-color:#2d2d2d;
    padding: 10px 15px ;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.button:hover{
    font-size: 18px;
}